<script>
	// import libs
	import { onMount, onDestroy } from 'svelte'
	import * as utils from '../lib/Utils/utils.js'
	
	// import components
	import * as Layout from '../components/Layout/Layout.js'
	import Session     from '../components/Session/Session.svelte'
	import Sculptures  from '../components/Sculptures/Sculptures.svelte'
	import Instrument  from '../components/Instrument/Instrument.svelte'

	// import stores
	import { SenselStore as Sensel } from '../stores/senselStore.js'
	import { SessionStore as s } from '../stores/sessionStore.js'

	// Container UI state
	// $: state = {}

	// Container methods
	const methods = {
		init: async () => {
			await s.init(
				methods.belaOnControl, 
				methods.belaOnData, 
				methods.belaOnConnect,
				methods.belaOnDisconnect
			)
		},
		belaOnControl: async (event) => {
			if (event.detail.args['sensel'])
				await Sensel.handle(event.detail.args['sensel'])
			else console.log('[Activity.svelte] Bela received event:', event.detail)
		},
		belaOnData: (data) => {
			console.log('[Activity.svelte] Bela received data:', data.detail)
		},
		belaOnConnect: () => {
			console.log('[Activity.svelte] Bela connected.')
			s.syncBlocksToBela()
		},
		belaOnDisconnect: () => {
			console.log('[Activity.svelte] Bela disconnected.')
		},
		handlePageEvent: (event) => {
			console.log('[Activity.svelte] Page event received:', event)
		}
	}

	onMount(async () => { await methods.init() })

	onDestroy(async () => { console.log('onDestroy'); await s.saveInstrumemt(); })

</script>

<style>
	td, th { 
	    padding-left: 15px;
	    padding-right: 15px;
	    text-align: left;
		border: 1px solid #CCC;
		border-radius: 5px;
		margin-right: 20px;
		-webkit-box-shadow: 0px 0px 2px 2px rgba(194,194,194,0.25);
		-moz-box-shadow:    0px 0px 2px 2px rgba(194,194,194,0.25);
		box-shadow:         0px 0px 2px 2px rgba(194,194,194,0.25);
	}
	table {
		margin-left: 10px;
		margin-top: 10px;
		/*margin-bottom: 5px;*/
		width: 98%;
		min-height: 900px;
	}
	th {
		font-size: 1em;
		text-align: center;
	}
	table td, table td * {
	    vertical-align: top;
	}
</style>

<table>
    <!-- <thead> -->
        <!-- <tr><th colspan="2"><Session/></th></tr> -->
    <!-- </thead> -->
    <tbody>
        <!-- <tr> -->
			<!-- <td width="600"><Instrument/></td> -->
			<!-- <td width="500"><Sculptures/></td> -->
        <!-- </tr> -->
        <tr>
        	<td width="100"><Session/></td>
			<td colspan="2" height="370"><Instrument/></td>
        </tr>
        <tr>
			<td colspan="2"><Sculptures/></td>
        </tr>
    </tbody>
</table>
