<script>
	import { session } from '../../../stores/sessionStore.js'
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	$: radio = $session.state.selectedIteration // TODO: Test

	$: block1 = $session.state.block1Iteration
	$: block2 = $session.state.block2Iteration
	$: block3 = $session.state.block3Iteration
	$: block4 = $session.state.block4Iteration

	$: showPlot = $session.state.showBokehPlot // TODO: Test

	// export let showPlot	// TODO: Fix this

	let selected = 'SELECTED'
	let notSelected = ''

	function timeFromIterPath(dir) {
		if (dir !== undefined) {
			let split = dir.split('/')
			let last = split[split.length-1]
			let timestamp = last.substring(11,last.length)
			let timestampArr = timestamp.match(/.{1,2}/g);
			return timestampArr.join(':')
		} else {
			return "empty"
		}
	}
</script>

<!-- {#each $session.state.iterationPaths as iter, i}
<div>
	<label>
		<input type=radio bind:group={radio} on:change={()=>dispatch('e', {command: 'selectIteration', iteration: i})} value={i}>
		{#if i === 0}
			Setup (<em>{timeFromIterPath(iter)}</em>)
		{:else}
			Iteration {i} (<em>{timeFromIterPath(iter)}</em>)
		{/if}
	</label>
</div>
{/each} -->

<!-- TODO: Table css spacing -->


<style>
	td, th { 
	    padding-left: 15px;
	    padding-right: 15px;
	    text-align: left;
		border: 1px solid black;
	}
	table {
		table-layout:fixed;
		width: 100%;
	}
	#bokeh-iframe { 
		border: 0px; 
	}
</style>

<table>
	{#if $session.state.selectAllBlocks == true}
    <thead>
        <tr>
            <th colspan="2" style="text-align:center;">{$session.state.selectAllBlocks == true ? 'SELECTED ALL' : ''}</th>
        </tr>

    </thead>
    {/if}
    <tbody>
        <tr>
            <td>
				<div>
				<b>Block 3, 
	            {$session.state.blockPitches[2] != null ? $session.state.blockPitches[2].toUpperCase() : ''}
	            {$session.state.selectedBlock == 2 ? ', SELECTED' : ''}<br></b>
            	{#each $session.state.iterationPaths as iter, i}
					<label>
						<input type=radio bind:group={block3} on:change={()=>dispatch('e', {command: 'selectIteration', iteration: i})} value={i}>
						{#if i === 0}
							Setup <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{:else}
							Iteration {i} <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{/if}
					</label><br>
				{/each}
				</div>
            </td>
            <td>
				<div>
				<b>Block 4, 
	            {$session.state.blockPitches[3] != null ? $session.state.blockPitches[3].toUpperCase() : ''}
	            {$session.state.selectedBlock == 3 ? ', SELECTED' : ''}<br></b>
            	{#each $session.state.iterationPaths as iter, i}
					<label>
						<input type=radio bind:group={block4} on:change={()=>dispatch('e', {command: 'selectIteration', iteration: i})} value={i}>
						{#if i === 0}
							Setup <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{:else}
							Iteration {i} <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{/if}
					</label><br>
				{/each}
				</div>
            </td>
        </tr>
        <tr>
            <td>
				<div>
	            <b>Block 1, 
	            {$session.state.blockPitches[0] != null ? $session.state.blockPitches[0].toUpperCase() : ''}
	            {$session.state.selectedBlock == 0 ? ', SELECTED' : ''}<br></b>
            	{#each $session.state.iterationPaths as iter, i}
					<label>
						<input type=radio bind:group={block1} on:change={()=>dispatch('e', {command: 'selectIteration', iteration: i})} value={i}>
						{#if i === 0}
							Setup <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{:else}
							Iteration {i} <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{/if}
					</label><br>
				{/each}
				</div>
            </td>
            <td>
				<div>
				<b>Block 2, 
	            {$session.state.blockPitches[1] != null ? $session.state.blockPitches[1].toUpperCase() : ''}
	            {$session.state.selectedBlock == 1 ? ', SELECTED' : ''}<br></b>
            	{#each $session.state.iterationPaths as iter, i}
					<label>
						<input type=radio bind:group={block2} on:change={()=>dispatch('e', {command: 'selectIteration', iteration: i})} value={i}>
						{#if i === 0}
							Setup <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{:else}
							Iteration {i} <!-- (<em>{timeFromIterPath(iter)}</em>) -->
						{/if}
					</label><br>
				{/each}
				</div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<div>
	{#if $session.state.setupPath === null}
		<button on:click={()=>dispatch('e', {command: 'setup'})}>Setup</button> 
		<em>(status: {$session.state.setupProcess})</em>
	{:else}
		<button on:click={()=>dispatch('e', {command: 'iterate'})}>Iterate</button> 
		<em>(status: {$session.state.iterationProcess})</em>
	{/if}
</div>

<!-- <style> #bokeh-iframe { border: 0px; } </style> -->
{#if showPlot === true}
	{#if radio > 0} 
		<br>
		<hr>
		<br>
		<h3>Iteration analysis plots</h3>
	{/if}
{/if}
<!-- TODO: Fix hiding bokeh iframe properly. It's loading the 0th bokehPath which is `null` -->
<!-- {console.log('MatExp.svelte: showBokehPlot', showPlot)} -->
<iframe title="Bokeh Plot" alt="bokeh plot" id="bokeh-iframe" width="0" height="0"/>
