<script>
	// import { session } from '../../../stores/sessionStore.js'
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
</script>

<!-- <h1>Explore different resonance models</h1> -->
<!-- <hr> -->

<!-- <p>The sound of the instrument is created by exciting a resonance model.</p> -->

<!-- <p>Below are four models that you can explore by clicking the buttons, which will update the instrument.</p> -->

<!-- <p>Explore the models and experience how their sounds differ.</p> -->

<!-- <button on:click={()=>dispatch('e', {command: 'selectModel', model: 0})}>Model 1</button> -->
<!-- <button on:click={()=>dispatch('e', {command: 'selectModel', model: 1})}>Model 2</button> -->
<!-- <button on:click={()=>dispatch('e', {command: 'selectModel', model: 2})}>Model 3</button> -->
<!-- <button on:click={()=>dispatch('e', {command: 'selectModel', model: 3})}>Model 4</button> -->

<!-- <p>Selected model: {$session.state.selectedModel+1} of {$session.state.baseModels.length}</p> -->

<!-- <p>When you've finished exploring, click the button to advance.</p> -->
