<!-- TODO: Fix this -->
<!-- <p>Open session: {loadPref === 'newest' ? $app.newestSession : $app.openSession}</p> -->
<!-- <form> -->
	<!-- <select name="dropdown" bind:value={selected} on:change|preventDefault={onSelectChange}> -->
		<!-- {#each sessions as session, index} -->
			<!-- <option value={index}>{session}</option> -->
		<!-- {/each} -->
	<!-- </select> -->
	<!-- <button on:click|preventDefault={loadSession}>Load</button> -->
	<!-- <button on:click|preventDefault={newSession}>New</button> -->
<!-- </form>
