<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'
	import * as utils from '../../lib/Utils/utils.js'

	// TODO:
	// import Metadata from './Metadata.svelte'
	// import Menu from './Menu.svelte'
	import BelaConnection from '../Bela/Connection.svelte'
	import APIConnection from '../API/Connection.svelte'

	const methods = {
		new:  async () => { await s.new() },
		load: async () => { await s.load($s.selectedDbEntry) }
	}
</script>

<form>
	<h3>Session</h3>
	<p>
		{$s.session.timestamp.substring(5,10)}, {$s.session.timestamp.substring(11,19)}
	</p>
		<!-- &nbsp; &nbsp; -->
	<p>
		<!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
		<select name="dropdown" bind:value={$s.selectedDbEntry}>
			{#each $s.db as session, index}
				<option value={index}>{session.substring(5,20)}</option>
			{/each}
		</select>
	</p>
		<!-- &nbsp; &nbsp; -->
	<p>
		<button on:click|preventDefault={methods.new}>New</button>
		<button on:click|preventDefault={methods.load}>Load</button>
	</p>
		<!-- &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
		<!-- <br><br><br><br><br><br><br><br><br><br><br> -->
		<!-- <br><br><br><br><br><br><br><br><br><br><br> -->
		<!-- <br><br><br><br><br><br><br><br><br><br> -->
	<p>
		<BelaConnection/>
	</p>
		<!-- &nbsp; &nbsp; -->
	<p>
		<APIConnection/>	
	</p>
</form>
