<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'

	import * as utils from '../../lib/Utils/utils.js'

	export let block
	export let index

	const methods = {
		select: () => {
			s.selectBlock(index)
		},
		deselect: () => {
			s.deselectBlock(index)
		},
		selectPrevSculpt:    () => { s.setBlockToPrevSculpt(index)    },
		selectNextSculpt:    () => { s.setBlockToNextSculpt(index)    },
		selectNextSculpture: () => { s.setBlockToNextSculpture(index) },
		selectPrevSculpture: () => { s.setBlockToPrevSculpture(index) }
	}

</script>

<style>
	#container {
		border-radius: 5px;
		width:  250px;
		height: 250px;
		border: 1px solid #888;
		padding-right:12.5px;
		padding-left:12.5px;
		margin: 10px;
		-webkit-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		-moz-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
	}
	.block1 { background: #F5A623; }
	.block2 { background: #B96DFC; }
	.block3 { background: #D24F5F; }
	.block4 { background: #8BD13F; }
	.preview {
		text-align: center;
	}
	#navButton {
		height: 40px;
		border: 1px solid #888;
		-webkit-box-shadow: 0px 0px 3px 3px rgba(19,19,19,0.05);
		   -moz-box-shadow: 0px 0px 3px 3px rgba(19,19,19,0.05);
		        box-shadow: 0px 0px 3px 3px rgba(19,19,19,0.05);
	}
	#pitches {
		width: 100%;
		height: 25px;
		/*padding-right:12.5px;*/
		padding-left:15px;
		text-align: center;
		/*margin: 10px;*/
		/*-webkit-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);*/
		/*-moz-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);*/
		/*box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);	*/
	}
	.pitchActive {
		background-color: #999;
		color: #FFF;
	}
	.pitch{}
</style>

<div id="container" class="{'block'+(index+1)}">
		<h2>
			Block {index+1}
			<!-- - Sculpture {block.sculptId.substring(0,2)} -  -->
			<!-- Sculpt {block.sculptId.substring(2,4)} -->
			{#if block.locked}
				🔒
			{/if}
		</h2>
	<!-- <p> -->
	<!-- </p> -->
	<!-- <p> -->
		<!-- Selected: {utils.toCamelCase(block.selected.toString())}. -->
		<!-- <button -->
			<!-- on:click|preventDefault={ -->
				<!-- block.selected ? methods.deselect : methods.select -->
			<!-- }> -->
			<!-- {block.selected ? 'Deselect' : 'Select'} -->
		<!-- </button> -->
	<!-- </p> -->
	{#if $s.session.instrument.mode.play === true}
		<!-- {#if (block.pitch != undefined)} -->
			<!-- <p>Pitch: {block.pitch.toUpperCase()}</p> -->
		<!-- {/if} -->
		{#if parseInt(block.sculptId)}
			<!-- TODO: -->
			<!-- <p>Base Model: {$s.session...}</p> -->
			<p>Sculpture: {parseInt(block.sculptId.substring(0,2))+1}</p>
			<p>Sculpt:    {parseInt(block.sculptId.substring(2,4))+1}</p>
			<br><br>
			<p style="text-align: center; font-size: 1.2em;">
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectPrevSculpture}>
					←
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectPrevSculpt}>
					⬆
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectNextSculpt}>
					⬇
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectNextSculpture}>
					→
				</button>
			</p>
		{/if}
	{:else if $s.session.instrument.mode.preview === true}
		<div class="preview">
			<br>
			<h3><i>New Sculpture</i> preview:</h3>
			{#if $s.selectedBaseModel < 4}
				<h2>Preset {$s.selectedBaseModel+1}</h2>
			{:else}
				<h2>Block {$s.selectedBaseModel-3}</h2>
				<!-- <h3>Sculpt -->
					<!-- {parseInt(block.sculptId.substring(0,2))+1}.{parseInt(block.sculptId.substring(2,4))+1} -->
				<!-- </h3> -->
			{/if}
			<p style="text-align: center; font-size: 1.2em;">
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectPrevSculpture}>
					←
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectPrevSculpt}>
					⬆
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectNextSculpt}>
					⬇
				</button>
				<button id="navButton" class="{'block'+(index+1)}" 
					on:click|preventDefault={methods.selectNextSculpture}>
					→
				</button>
			</p>
		</div>
	{/if}
</div>

<div id="pitches">
	<button class="{ block.pitch === 'c3' ? 'pitchActive' : 'pitch' }">Low</button>
	<button class="{ block.pitch === 'a3' ? 'pitchActive' : 'pitch' }">Low Mid</button>
	<button class="{ block.pitch === 'g4' ? 'pitchActive' : 'pitch' }">High Mid</button>
	<button class="{ block.pitch === 'd5' ? 'pitchActive' : 'pitch' }">High</button>
</div>
