<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'
	import Block from './Block.svelte'

	import Mode from './Mode.svelte'

	const methods = {
		method: () => {}
	}

</script>

<style>
	td, th { 
	    padding-left: 15px;
	    padding-right: 15px;
	    text-align: left;
		/*border: 1px solid black;*/
	}
	td {
		width: 200px;
		height: 200px;
	}
	table {
		table-layout:fixed;
		width: 1200px;
		padding-bottom: 20px;
	}
	th {
		height: 50px;
		font-size: 1.25em;
		text-align: center;
	}
</style>

<h3>Instrument</h3>
<!-- <Mode/> -->

<table>
    <tbody>
        <tr>
            <td><Block block={$s.session.instrument.blocks[0]} index={0}/></td>
            <td><Block block={$s.session.instrument.blocks[1]} index={1}/></td>
        <!-- </tr> -->
        <!-- <tr> -->
            <td><Block block={$s.session.instrument.blocks[2]} index={2}/></td>
            <td><Block block={$s.session.instrument.blocks[3]} index={3}/></td>
        </tr>
    </tbody>
</table>
