<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'

	const methods = {
		play:    () => { s.setInstrumentMode('play')    },
		compare: () => { s.setInstrumentMode('compare') },
		preview: () => { s.setInstrumentMode('preview') }
	}

</script>

<p>
Mode: 
{#if $s.session.instrument.mode.play === true}
	Play. 
{:else if $s.session.instrument.mode.compare === true}
	Compare. 
{:else if $s.session.instrument.mode.preview === true}
	Preview. 
{/if}
	<button on:click|preventDefault={methods.play}>Play</button>
	<button on:click|preventDefault={methods.compare}>Compare</button>
	<button on:click|preventDefault={methods.preview}>Preview</button>
</p>
