<script>
	import { onMount } from 'svelte'
	import DataFrame from "dataframe-js"

	import DfTable from './DfTable.svelte'

	export let setup
	export let sculpt

	$: state = {
		freqResponseDf: {},
		diffDf: {}
	}

	const methods = {
		init: () => {
			if (sculpt) {
				console.log('[SculptDetail.svelte] sculpt', sculpt)
				if (sculpt.freqResponse) {
					console.log('[SculptDetail] FreqResponse:', sculpt.freqResponse)
					state.freqResponseDf = new DataFrame({
						'Frequency (Hz)': Object.values(sculpt.freqResponse['Frequency (Hz)']),
						'Magnitude (dB)': Object.values(sculpt.freqResponse['Magnitude (dB)'])
					})
					state.freqResponseDf.show()
				} else console.log('[SculptDetail] No Freq Response.')
				if (sculpt.diff) {
					console.log('[SculptDetail] Diff:', sculpt.diff)
					state.diffDf = new DataFrame({
						'Frequency (Hz)': Object.values(sculpt.diff['Frequency (Hz)']),
						'Magnitude (dB)': Object.values(sculpt.diff['Magnitude (dB)'])
					})
					state.diffDf.show()
				} else console.log('[SculptDetail] No diff.')
			}
		},
		frPathFromColumn: (column, origin={x:0,y:0}) => {
			const segments = []
			const colVals = Object.values(column)
			// segments.push(`M${0} ${colVals[i]+30}`)
			for (var i = 0; i < colVals.length; i++) {
				const x = i
				const y = Math.abs(colVals[i] * 0.1) + 10
				segments.push( i === 0 ? `M${x} ${y}` : `L${x} ${y}`)
			}
			// console.log('[SculptDetail] frPathFromColumn(): column', column, 'segments', segments)
			return segments.join(' ')
		},
		diffPathFromColumn: (column, origin={x:0,y:0}) => {
			// console.log('[SculptDetail] diffPathFromColumn(): column', column, 'origin', origin)
			const segments = []
			const colVals = Object.values(column)
			// segments.push(`M${0} ${colVals[i]+30}`)
			for (var i = 0; i < colVals.length; i++) {
				const x = i
				const y = (colVals[i] * 0.5) + 15
				segments.push( i === 0 ? `M${x} ${y}` : `L${x} ${y}`)
			}
			return segments.join(' ')
		}
	}

	onMount(async () => { methods.init() })

</script>

<style>
	.container {
		width:  300px;
		height: 300px;
		padding-top: 15px;
		padding-left: 25px;
	    padding-right: 25px;
		margin-bottom: 20px;
		border: 1px solid #CCC;
		border-radius: 5px;
		/*background: #EFEFEF;*/
		-webkit-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		-moz-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
	}
	.sculptdetail {

	}
	.setup {
		stroke: #F00;
		stroke-width: 0.5px;
		fill: rgba(0,0,0,0);
	}
	.sculpt {
		stroke: #0F0;
		stroke-width: 0.5px;
		fill: rgba(0,0,0,0);
	}
	.diff {
		stroke: #00F;
		stroke-width: 0.5px;
		fill: rgba(0,0,0,0);
	}
</style>

<!-- <DfTable/> -->

{#if (sculpt != undefined)}
	<div class="container">
		<div class="sculptdetail">
			<p>
				<b>Setup Response</b>
			</p>
			<p>
				<svg viewBox="0 0 100 35">
					<path
						class="setup"
						d={methods.frPathFromColumn(setup.freqResponse['Magnitude (dB)'])}
						transform="translate(0,0)"
					/>
					<path
						class="sculpt"
						d={methods.frPathFromColumn(sculpt.freqResponse['Magnitude (dB)'])}
						transform="translate(0,0)"
					/>
			</svg>
			</p>
			<p>
				<!-- <b>Diff</b> -->
				<svg viewBox="0 0 100 35">
					<path
						class="diff"
						d={methods.diffPathFromColumn(sculpt.diff['Magnitude (dB)'])}
						transform="translate(0,0)"
					/>
				</svg>
			</p>
		</div>
	</div>
{/if}
