<script>
	import { createEventDispatcher } from 'svelte'
	const dispatch = createEventDispatcher()

	import { SessionStore as s } from '../../stores/sessionStore.js'
	import * as utils from '../../lib/Utils/utils.js'

	// import SculptDetail from './SculptDetail.svelte'

	export let sculptureIndex
	export let sculptIndex
	export let sculpt

	const methods = {
		select: (_index) => { dispatch('select', {index: _index, id: sculpt.id}) }
	}

</script>

<style>
	.active {
		background: #444;
		color: #FFF;
	}
	button {
		color: #FFF;
		width: 40px;
		height: 25px;
		/*margin: 0;*/
		padding: 0;
		text-align: center;
	}
	.active1{ background: #F5A623; }
	.active2{ background: #B96DFC; }
	.active3{ background: #D24F5F; }
	.active4{ background: #8BD13F; }
	.normal {
		background: #EEE;
		color: #111;
	}
	#sculptId {
		text-align: right;
	}
	.locked {
		/*width: 25px;*/
		height: 20px;
		/*margin-left:5px;*/
		padding-left:5px;
		padding-bottom: 2px;
		background: #333;
		border: solid 1px #222;
		border-radius: 3px;
	}
</style>

<td id="sculptId">
	{parseInt(sculpt.id.substring(0,2))+1}.{parseInt(sculpt.id.substring(2,4))+1}
</td>
<!-- <td> -->
	<!-- <SculptDetail sculpt={sculpt}/> -->
<!-- </td> -->
{#each $s.session.instrument.blocks as block, i}
	<td>
		<button
			class="{ (sculpt.id === block.sculptId) ? 'active'+(i+1) : 'normal' }"
			on:click|preventDefault={
				()=>{methods.select(i)}
			}>
			{#if (sculpt.id === block.sculptId) && block.locked}
				<div class="locked">🔒</div>				
			{/if}
		</button>
	</td>
{/each}
