<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'
	import * as utils from '../../lib/Utils/utils.js'

	// Components
	import Sculpture from './Sculpture.svelte'
	import SculptDetail from './SculptDetail.svelte'

	const methods = {
		addTmpSculpture: () => { s.sculptureAddTmp() },
		selectSculpture: async (index) => {
			$s.selectedSculpture = index
			await s.sculptureSelect(index)
		}
	}
</script>

<style>
	#sculptures {
		width: 100%;
	}
	td, th, tr { 
	    /*padding-left: 15px;*/
	    padding-top: 15px;
	    padding-right: 40px;
	    text-align: left;
		/*border: 1px solid black;*/
		/*width: 100%;*/
	}
	table {
		padding-left: 10px;
		display: block;
	    overflow-x: auto;
	    white-space: nowrap;
		/*width: 100%;*/
	}
	th {
		height: 50px;
		font-size: 1.25em;
		text-align: center;
	}
	table td, table td * {
	    vertical-align: top;
	}

</style>

<div id="sculptures">
	<h3>Sculptures</h3>
	<p>
		<!-- {#if $s.session.sculptures.length > 0} -->
			<!-- &nbsp; &nbsp; &nbsp; Select: -->
			<!-- {#each $s.session.sculptures as sculpture, index} -->
				<!-- <button -->
					<!-- on:click|preventDefault={ -->
						<!-- ()=>{methods.selectSculpture(index)} -->
					<!-- }> -->
					<!-- {index+1} -->
				<!-- </button> &nbsp; -->
			<!-- {/each} -->
		<!-- {/if} -->
	</p>
	<table>
	    <tbody>
	        <tr>
				{#if $s.session.sculptures.length === 0}
					<td>
						<button on:click|preventDefault={methods.addTmpSculpture}>New Sculpture</button>
					</td>
				{:else if $s.session.sculptures.length > 0}
					{#each $s.session.sculptures as sculpture, index}
						<td><Sculpture sculpture={sculpture} index={index}/></td>
					{/each}
					{#if $s.session.sculptures[$s.selectedSculpture].sculpts.length < 2}
						<td>
							<!-- <SculptDetail sculpt={s.getSculptById(s.getLatestSculptId())}/> -->
							<SculptDetail
								setup={$s.session.sculptures[$s.selectedSculpture].setup}
								sculpt={$s.session.sculptures[$s.selectedSculpture].sculpts[$s.session.sculptures[$s.selectedSculpture].sculpts.length-1]}
							/>
						</td>
					{/if}
					{#if ($s.session.sculptures[$s.selectedSculpture].setup.baseModel.metadata.name != '')}
						<td>
							<button on:click|preventDefault={methods.addTmpSculpture}>New Sculpture</button>
						</td>
					{/if}
				{/if}
	        </tr>
	    </tbody>
	</table>
</div>
