<script>
	import * as utils from '../../lib/Utils/utils.js'
	import { SessionStore as s } from '../../stores/sessionStore.js'

	// Components
	import Setup from './Setup.svelte'
	import Sculpts from './Sculpts.svelte'	

	export let sculpture
	export let index

</script>

<style>
	#sculpture {
		width: 100%;
		padding-top: 15px;
		padding-left: 15px;
	    padding-right: 5px;
		margin-bottom: 20px;
		/*margin: 30px;*/
	    text-align: left;
		border: 1px solid #CCC;
		border-radius: 5px;
		/*background: #EFEFEF;*/
		-webkit-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		-moz-box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
		box-shadow: 0px 0px 4px 5px rgba(194,194,194,0.25);
	}
</style>

<div id="sculpture">
	{#if sculpture.setup.timestamp === ''}
		<Setup setup={sculpture.setup} index={index}/>
	{:else}
		<Sculpts sculpts={sculpture.sculpts} index={index} modelName={sculpture.setup.baseModel.metadata.name}/>
	{/if}
</div>
