<script>
	import { SessionStore as s } from '../../stores/sessionStore.js'
	import * as utils from '../../lib/Utils/utils.js'

	// TODO: Some logic to prevent sculpting the wrong sculpture?
	import Sculpt from './Sculpt.svelte'

	export let sculpts
	export let index
	export let modelName

	$: tmp_hide = false

	const methods = {
		sculpt: async () => {
			// TODO: Multiple sculpts:
			// - Should this propagate event to Sculptures.svelte?
			// - Then Sculptures.svelte ensures correct Sculpture selected
			await s.sculptAndSetBlocks()
		},
		selectSetup: (event) => {
			let selection = event.detail.index
			let sculptId = event.detail.id
			console.log('[Sculpts.svelte] selectSetup(): event:', selection, sculptId)
			s.setBlockToSculptById(selection, sculptId)
		},
		select: (event) => {
			let selection = event.detail.index
			let sculptId = event.detail.id
			console.log('[Sculpts.svelte] select(): event:', selection, sculptId)
			s.setBlockToSculptById(selection, sculptId)
		},
		hide: () => {
			if ($s.session.sculptures[index].hide === false) {
				// tmp_hide = true
				s.sculptureHide(index)
			}
			else {
				s.sculptureUnhide(index)
			}
		},
		sculptIdFromModelName: (name) => {
			let sculptureId, sculptId
			sculptureId = parseInt(modelName.substring(modelName.length-4,modelName.length-2))+1
			sculptId    = parseInt(modelName.substring(modelName.length-2,modelName.length))+1
			return sculptureId+'.'+sculptId
		}
	}

</script>

<p style="text-align: center;">
	<!-- TODO Update based on setupModelName -->
	{#if s.getBaseModelIndexFromName(modelName) >= 0}
		<b>Sculpture {index+1}</b> (Preset {s.getBaseModelIndexFromName(modelName)+1})
	{:else}
		<b>Sculpture {index+1}</b> (Sculpt {methods.sculptIdFromModelName(modelName)})
	{/if}
</p>

<style>
	tr {
		/*padding-left: 5px;*/
	}
	td {
		/*width: 50px;*/
		padding-right: 10px;
	}
</style>

{#if sculpts}
	{#if $s.session.sculptures != undefined}
		{#if $s.session.sculptures[index].hide === false}
			<!-- <p> -->
				<!-- Base Model: {utils.baseModelIndexFromName(modelName)+1} -->
			<!-- </p> -->
			{#if sculpts.length > 0}
				<div id="sculpts">
					<table>
						<thead>
							<tr>
								<!-- <td><b>Sculpt</b></td> -->
								<td></td>
								{#each $s.session.instrument.blocks as block, i}
									<!-- <td>Block {i+1}</td> -->
									<td style="text-align: center;">B{i+1}</td>
								{/each}
							</tr>
						</thead>
					    <tbody>
							{#each sculpts as sculpt, sculptIndex}
								<tr>
									<Sculpt
										sculptureIndex={index}
										sculptIndex={sculptIndex}
										sculpt={sculpt}
										on:select={methods.select}/>
								</tr>
							{/each}
					    </tbody>
					</table>
				</div>
			{/if}
		{/if}
	{/if}
{/if}

<p style="text-align: center;">
	<!-- <button on:click|preventDefault={methods.hide}>{$s.session.sculptures[index].hide ? 'Unhide' : 'Hide'}</button> -->
	{#if index+1 === $s.session.sculptures.length}
		{#if $s.session.sculptures[index].hide === false}
			<button on:click|preventDefault={methods.sculpt}>
				{$s.sculptInProgress ? 'Busy...' : 'Add Sculpt'}
			</button>
		{/if}
	{/if}
</p>
