<script>
	import * as utils from '../../lib/Utils/utils.js'
	import { SessionStore as s } from '../../stores/sessionStore.js'

	export let setup
	export let index

	$: selectedBaseModelName = ''
	const defaultModelIndex = 0

	const methods = {
		setup: async () => {
			// if (selectedBaseModelName === '') methods.selectDefaultModel()
			await s.setupAndSetBlocks()
		},
		selectBaseModelFromIndex: (_index) => {
			$s.selectedBaseModel = _index
			selectedBaseModelName = methods.baseModelNameFromIndex(_index)
		},
		baseModelNameFromIndex: (_index) => {
			return $s.baseModels[_index].metadata.name
		},
		selectDefaultModel: () => {
			methods.selectBaseModelFromIndex(defaultModelIndex)
		},
		selectBlockAsBaseModel: (blockIndex) => {
			console.log('[Setup.svelte] selectBlockAsBaseModel()', blockIndex)
		}
	}

</script>

<style>
	button { text-align: left; }
	.presetSelected {
		background-color: #444;
		color: #FFF;
	}
	.preset {}
	.block {}
	.block0Selected { background-color: #F4CD8C; }
	.block1Selected { background-color: #DAB7F8; }
	.block2Selected { background-color: #E5ABB2; }
	.block3Selected { background-color: #CEE7B2; }
</style>

<!-- TODO: Model live preview on Bela: spread across four blocks? -->
	
{#if setup.baseModel.metadata.name === ''}
	<p>
		<b>Sculpture {index+1}</b>
	</p>
	<p>Choose a starting point:</p>
	{#if !utils.isEmptyArray(s.baseModels)}
		<p>
			{#each $s.baseModels as baseModel, modelIndex}
				<!-- <button on:click|preventDefault={() => methods.selectBaseModelFromIndex(modelIndex)}> -->
				<button class="{ ($s.selectedBaseModel === modelIndex) ? 'presetSelected' : 'preset' }" on:click|preventDefault={() => s.setBlocksToBaseModelByIndex(modelIndex)}>
					Preset {modelIndex+1}
				</button> &nbsp;
			{/each}
		</p>
	{/if}
	{#if $s.session.sculptures.length > 1}
		<!-- <p>Block Models:</p> -->
		<p>
			{#each $s.session.instrument.blocks as block, blockIndex}
				<button
					class="{ ($s.selectedBaseModel === blockIndex+4) ? 'block'+blockIndex+'Selected' : 'block' }"
					on:click|preventDefault={
						() => s.selectBlockAsBaseModel(blockIndex)
					}>
					Block {blockIndex+1}
					<br>
					<div style="padding-top: 7px; font-size: 0.85em;">
						Sculpt
						{parseInt(block.sculptId.substring(0,2))+1}.{parseInt(block.sculptId.substring(2,4))+1}
					</div>
				</button> &nbsp;
			{/each}
		</p>
	{/if}
	<p>
		<button on:click|preventDefault={methods.setup}>
			{#if $s.selectedBaseModel < 4}
				{$s.sculptInProgress ? 'Busy...' : 'Setup with Preset ' + ($s.selectedBaseModel+1)}
			{:else}
				{$s.sculptInProgress ? 'Busy...' : 'Setup with Block ' + ($s.selectedBaseModel-3)}
			{/if}
		</button>
	</p>
{/if}
